// color variables
$primary-orange: hsl(31, 77%, 52%);
$primary-cyan: hsl(184, 100%, 22%);
$primary-dark-cyan: hsl(179, 100%, 13%);

$neutral-trans-white: hsla(0, 0%, 100%, 0.75);
$neutral-grey: hsl(0, 0%, 95%);

// font variables
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

$font-header: "Big Shoulders Display", cursive;
$font-text: "Lexend Deca", sans-serif;

// universals
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $neutral-grey;
  font-family: $font-text;
}

main {
  margin: 6em 0;
  display: flex;
  flex-direction: column;
}

.section {
  width: 330px;
  margin: 0 auto;
}

.container {
  margin: 0 3em;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;

  .image {
    width: 30%;
  }

  .header {
    font-family: $font-header;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: $neutral-grey;
  }

  .text {
    color: $neutral-trans-white;
    line-height: 1.8;
    font-size: 0.9375rem;
  }

  .button {
    background-color: $neutral-grey;
    text-transform: capitalize;
    padding: 1.15em;
    width: 70%;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: $font-text;
  }

  .a {
    color: $primary-orange;
  }

  .b {
    color: $primary-cyan;
  }

  .c {
    color: $primary-dark-cyan;
  }
}

.one {
  background-color: $primary-orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.two {
  background-color: $primary-cyan;
}

.three {
  background-color: $primary-dark-cyan;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (min-width: 980px) {
  main {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section {
    margin: 0;
    width: 300px;
    height: 500px;
  }

  .one {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .three {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .container {
    padding-bottom: 0;
    height: 475px;

    .button {
      margin-top: 3em;
    }

    .button:hover {
      background-color: transparent;
      color: $neutral-grey;
      border: 2px solid $neutral-grey;
      transition: 0.2s;
    }

    .button:active {
      background-color: $neutral-trans-white;
    }
  }
}
